<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/styles.css" />
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">
            <img src="/static/images/gamr-logo.png" alt="logo" />
            <span>Gamr</span>
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          {% if not g.user %}
          <li><a href="/signup">Sign up</a></li>
          <li><a href="/login">Log in</a></li>
          {% else %}
          <li>
            <a href="/users/{{ g.user.id }}">
              <img src="{{ g.user.image_url }}" alt="{{ g.user.username }}" />
            </a>
          </li>
          <li><a href="/matches">Matches</a></li>
          <li><a href="/logout">Log out</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
      {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% block content %}{% endblock %}
    </div>

    <script src="/static/gamr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
  </body>
</html>
